* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Corpo geracional para pessoas geracionais. */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

/*Barra de cima*/
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #00A89E;
  color: white;
  font-weight: bold;
}

/* Container */
.container {
  display: flex;
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 260px;
}

/* Box */
.box {
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  color: black;
  background: #f0f0f0f3;
}

/* Parte do card categorias */
.box ul {
  list-style: none;
  margin-top: 10px;
}

/* Parte em destaque ao clicar em alguma categoria (Foda-se não vou saber explicar direito */
.box li {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* A mesma coisa só que isso funciona no modo claro */
.box li.active {
  background: rgba(218, 218, 218, 0.836);
}

.box li.active:hover {
  transform: scale(1.02);
}

/* Barra de progresso */
.barra {
  background: white;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Cor do progresso */
.barra div {
  height: 100%;
  background: #00A89E;
  border-radius: 10px;
}

/* Texto do total */
.total {
  margin-top: 10px;
  font-weight: bold;
}

/* Parte dos exercícios */
.conteudo {
  flex: 1;
  margin-left: 20px;
}

/* Card de exercícios */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: #f0f0f0f3;
  padding: 20px;
  border-radius: 15px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.acoes {
  margin-top: 15px;
}

/* Botão de exercícios */
.btn {
  background: #00A89E;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.02);
}

/* FUUUUUUUUUUUUUUUUUUUUUUTTTTTTTTEEEEEEEEEEEERRRRRRRRRRRRR */
footer {
  text-align: center;
  padding: 15px;
  background: #00A89E;
  color: white;
  margin-top: auto;
  font-weight: bold;
}


/* Modo escuro */
body.dark {
  background: #121212;
  color: white;
}

/* Top Bar só que escura */
body.dark .topbar {
  background: #1e1e1e;
}

/* Cards no modo escuro */
body.dark .card,
body.dark .box {
  background: #1e1e1e;
  color: white;
}

/* Texto interno */
body.dark .card p {
  color: #ccc;
}


body.dark .box li.active {
  background: #121212a1;
  color: #fff;
}

/* Hover no modo dark */
body.dark .box li:hover {
  background: rgba(255, 255, 255, 0.05);
}

/* Barra progresso no modo dark */
body.dark .barra {
  background: #333;
}

/* Parte do botão de tema */
.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Estilização do modo claro */
.toggle-track {
  width: 60px;
  height: 30px;
  background: #e5e5e5;
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
}

/* estilização do botão modo claro e escuro */
.toggle-thumb {
  width: 26px;
  height: 26px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(255, 92, 92, 0.2);
}

/* Parte dos ícones */
.toggle-thumb img {
  width: 14px;
  height: 14px;
}

/* Quando está no modo escuro */
body.dark .toggle-track {
  background: #333;
}

body.dark .toggle-thumb {
  left: 32px;
  background: black;
}

body.dark .topbar {
  background: #00A89E;
  backdrop-filter: blur(10px);
}