@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:scale(.95);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer */
    -ms-overflow-style: none;
}

/* Chrome, Edge e Safari */
body::-webkit-scrollbar{
    display: none;
}

body{
    font-family:'Inter',sans-serif;
    background:
    linear-gradient(
        180deg,
        #f7fafc,
        #eef3f8
    );
    color: #111827;;
    min-height:100vh;
}

/* TOPO */

.topo{
    height:90px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    box-shadow:0 8px 30px rgba(0,0,0,.05);
    position:sticky;
    top:0;
    z-index:100;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo i{
    color: #00A89E;
    font-size:28px;
}

.logo h1{
    color: #00A89E;
    font-size:30px;
    font-weight:800;
}

.btn-voltar{
  display:flex;
  align-items:center;
  gap:10px;

  padding:12px 22px;

  text-decoration:none;

  background:linear-gradient(
    135deg,
    #00A89E,
    #0F766E
  );

  color:white;

  border:none;
  border-radius:16px;

  font-weight:700;
  font-size:15px;

  transition:
  transform .25s ease,
  box-shadow .25s ease,
  filter .25s ease;
}

.btn-voltar i{
  font-size:15px;
  transition:transform .25s ease;
}

.btn-voltar:hover{
  transform:translateY(-3px);
  filter:brightness(1.05);
}

.btn-voltar:hover i{
  transform:translateX(-4px);
}

.btn-voltar:active{
  transform:scale(.97);
} 

/* CONTAINER */

.perfil-page{
    max-width:1200px;
    margin:auto;
    padding:40px 25px 80px;
}

/* CARD PERFIL */

.perfil-card{
    background:white;
    border-radius:35px;
    overflow:hidden;
    box-shadow:
    0 20px 50px rgba(0,0,0,.08);
    margin-bottom:35px;
    position:relative; /* ADICIONE */
}



/* BANNER */

.perfil-banner{
    height:220px;
    background:
    linear-gradient(
        135deg,
        #00A89E,
        #0F766E
    );
    position:relative;
}

.banner-azul{
  background: linear-gradient(
    135deg,
    #2563EB,
    #1D4ED8
  ) !important;
}

.banner-vermelho{
  background: linear-gradient(
    135deg,
    #e03030,
    #bd1e1e
  ) !important;
}

.banner-rosa{
  background: linear-gradient(
    135deg,
    #EC4899,
    #aa215f
  ) !important;
}

.banner-laranja{
  background: linear-gradient(
    135deg,
    #bb4f02ee,
    #da5711
  ) !important;
}

.banner-roxo{
  background: linear-gradient(
    135deg,
    #8B5CF6,
    #7C3AED
  ) !important;
}

.banner-preto{
  background: linear-gradient(
    135deg,
    #000000,
    #414141b7
  ) !important;
}

.banner-amarelo{
  background: linear-gradient(
    135deg,
    #ffee00,
    #fbff009f
  ) !important;
}

.perfil-banner::before{
    content:"";
    position:absolute;
    width:300px;
    height:300px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    top:-100px;
    right:-100px;
}

.perfil-banner::after{
    content:"";
    position:absolute;
    width:200px;
    height:200px;
    border-radius:50%;
    background:rgba(255,255,255,.05);
    left:50px;
    bottom:-80px;
}

/* FOTO */

.foto-area{
    margin-top:-90px;
    display:flex;
    justify-content:center;
    position:relative;
    z-index:10;
}

.foto-wrapper{
    position:relative;
}

.editar-foto{
    position:absolute;
    right:10px;
    bottom:10px;
    width:52px;
    height:52px;
    border-radius:50%;
    background: #00a89dad;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    box-shadow:
    0 8px 20px rgba(0,168,158,.4);
}

#fotoPerfil{
    display:none;
}

/* INFO */

.perfil-info{
    text-align:center;
    padding:25px 25px 40px;
}

.perfil-info h2{
    font-size:34px;
    margin-bottom:10px;
}

.perfil-info p{
    color: #6B7280;
}

/* CARDS FORM */

.form-card{
    background:white;
    border-radius:28px;
    padding:30px;
    margin-bottom:25px;
    box-shadow:
    0 12px 35px rgba(0,0,0,.05);
}

.card-title{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:25px;
}

.card-title i{
    color: #00A89E;
    font-size:22px;
}

.card-title h3{
    font-size:24px;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:22px;
}

.input-group label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
}

.input-box{
    height:60px;
    border:2px solid #E5E7EB;
    border-radius:18px;
    display:flex;
    align-items:center;
    padding:0 18px;
    transition:.3s;
    background:white;
}

.input-box:focus-within{
    border-color: #00A89E;
    box-shadow:
    0 0 0 4px rgba(0,168,158,.1);
}

.input-box i{
    color: #00A89E;
    margin-right:14px;
}

.input-box input{
    flex:1;
    border:none;
    outline:none;
    font-size:15px;
    background:transparent;
}

.readonly{
    background:#f8fafc;
}

/* ESTATÍSTICAS */

.stats-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-bottom:35px;
}

.stat-card{
    background:white;
    border-radius:28px;
    padding:35px;
    text-align:center;
    box-shadow:
    0 12px 35px rgba(0,0,0,.05);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-card i{
    font-size:35px;
    color: #00A89E;
    margin-bottom:18px;
}

.stat-card h4{
    margin-bottom:8px;
    font-size:20px;
}

.stat-card p{
    color: #6B7280;
}


/* BOTÃO */

.btn-salvar{
    width:100%;
    height:70px;
    border:none;
    border-radius:24px;
    background:
    linear-gradient(
        135deg,
        #00A89E,
        #0F766E
    );
    color:white;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    box-shadow:
    0 15px 35px rgba(0,168,158,.3);
    transition:.3s;
}

.btn-salvar:hover{
    transform:translateY(-4px);
}

.loading-screen{
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,.5);

  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: .3s;

  z-index: 99999;
}

.loading-screen.active{
  opacity: 1;
  visibility: visible;
}

.loading-box{
  background: white;

  padding: 30px;

  border-radius: 20px;

  min-width: 260px;

  text-align: center;
}

.loader{
  width: 50px;
  height: 50px;

  margin: auto;

  border: 4px solid #ddd;
  border-top: 4px solid #00A89E;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.success-icon,
.error-icon{
  display: none;

  width: 60px;
  height: 60px;

  margin: auto;

  border-radius: 50%;

  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: bold;
}

.success-icon{
  background: #00A89E;
  color: white;
}

.error-icon{
  background: #ef4444;
  color: white;
}

#statusText{
  margin-top: 15px;
  font-weight: 600;
}

.warning-icon{
  display: none;

  width: 60px;
  height: 60px;

  margin: auto;

  border-radius: 50%;

  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;

  background: #facc15;
  color: #854d0e;
}

#warningIcon{
  display:none;
}

.banner-verde{
  background:linear-gradient(
    135deg,
    #00A89E,
    #0f6b63
  );
}

.btn-banner{
  position:absolute;
  top:20px;
  right:20px;

  border:none;
  padding:12px 18px;

  border-radius:14px;

  background:rgba(255,255,255,.95);

  color:#111827;

  cursor:pointer;

  font-weight:700;

  display:flex;
  align-items:center;
  gap:8px;

  box-shadow:
  0 8px 20px rgba(0,0,0,.15);

  z-index:10;

  transition:.3s;
}

.btn-banner:hover{
  transform:translateY(-2px);
}

.modal-banner{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.35);

    backdrop-filter: blur(4px);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.modal-banner.active{
    display: flex;
}

.modal-banner-content{
    background:white;
    border-radius:24px;
    padding:30px;
    width:min(900px,90%);
    box-shadow:
    0 25px 60px rgba(0,0,0,.2);
}

.modal-banner-content h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.lista-banners{
  display:grid;
  grid-template-columns:
  repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
}

.banner-card{
  flex: 0 0 200px;
  cursor: pointer;
  transition: .25s;
}

.banner-card:hover{
  transform:translateY(-4px);
}


.banner-opcao{
  height: 110px;
  border-radius: 16px;
  border: 3px solid transparent;
  transition: .25s;
}

.banner-opcao:hover{
  transform:scale(1.03);
}

.banner-card span{
  display:block;
  text-align:center;
  margin-top:10px;
  font-weight:600;
}

.banner-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:24px;
}

.banner-card.selecionado .banner-opcao{
  border-color:#00A89E;
}


.foto-perfil-container{
    position: relative;
    width: 140px;
    height: 140px;
}

#previewFoto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.foto-placeholder{
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #00A89E;
    color: white;

    font-size: 42px;
    font-weight: 800;
}

.foto-perfil-container{
    position: relative;
    width: 180px;
    height: 180px;
}

#previewFoto,
.foto-placeholder{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0,0,0,.18);
}

#previewFoto{
    object-fit: cover;
    display: block;
}

.foto-placeholder{
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #00A89E;
    color: white;

    font-size: 42px;
    font-weight: 800;
}

.btn-fechar-modal{
    width:42px;
    height:42px;

    border:none;

    border-radius:12px;

    background:#F3F4F6;

    cursor:pointer;

    transition:.25s;
}

.btn-fechar-modal:hover{
    background:#E5E7EB;
}

/* =========================
   MODO ESCURO AUTOMÁTICO
========================= */

@media (prefers-color-scheme: dark){

    body{
        background: #0d121d;
        color:#f8fafc;
    }


    .topo{
        background: #0d121d;
        box-shadow: 0 8px 30px rgba(0,0,0,.35);
    }

    .logo i{
    color: white;
    }
    
    .btn-voltar{
        background:#1e293b;
        color:#f8fafc;
    }

    .loading-box{
    background: #252e3d;
}

    .perfil-info p,
    .stat-card p{
        color:#94a3b8;
    }

    .input-box{
        background:#232935;
        border-color:#334155;
    }

    .input-box input{
        color:#f8fafc;
    }

    .input-box input::placeholder{
        color:#64748b;
    }

    .card-title h3,
    .perfil-info h2,
    .stat-card h4,
    label{
        color:#f8fafc;
    }

    #statusText{
        color:#f8fafc;
    }

    .modal-banner{
        background:rgba(0,0,0,.75);
    }

    #fecharModalBanner{
        background:#0f172a;
        color:white;
        border:1px solid #334155;
    }

    .btn-banner{
        background:rgba(15,23,42,.95);
        color:white;
        backdrop-filter:blur(10px);
    }

    .form-card,
    .perfil-card,
    .stat-card{
        background: linear-gradient(
        135deg,
      rgba(255,255,255,.08),
      rgba(255,255,255,.04)
);
        color:white;
        border:1px solid #334155;
    }

    .modal-banner-content{
        background: #252e3d; 
        color:white;
        border:1px solid #334155;
    }

.logo h1{
    color: white;
} 

.readonly{
    background:#000000;
    border-color:#334155;
}

}

/* RESPONSIVO */

@media(max-width:900px){

    .form-grid{
        grid-template-columns:1fr;
    }

    .stats-grid{
        grid-template-columns:1fr;
    }

    .perfil-banner{
        height:180px;
    }

    .foto-wrapper img{
        width:150px;
        height:150px;
    }

}

@media(max-width:600px){

    .topo{
        padding:0 20px;
    }

    .logo h1{
        font-size:24px;
    }

    .perfil-info h2{
        font-size:28px;
    }

    .form-card{
        padding:20px;
    }

}