*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #F4F7FA;
  color: #111827;
  min-height: 100vh;
  overflow-x: hidden;
  transition:
  background .3s,
  color .3s;
}

/* OVERLAY DO MENU */

.menu-overlay{
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 2000;
}

.menu-overlay.active{
  opacity: 1;
  visibility: visible;
}

/* HEADER */

.topbar{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 8px 30px rgba(0,0,0,.05);
  transition:
  background .3s,
  box-shadow .3s;
}

.logo-area h1{
  color: #00A89E;
  font-size: 30px;
  font-weight: 800;
}

.subtitle{
  font-size: 14px;
  color: #6B7280;
}

/* BOTÃO MENU */

.menu-toggle{
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 18px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(0,0,0,.08);
  transition: .3s,
  background .3s,
  box-shadow .3s;
}

.menu-toggle:hover{
  transform: scale(1.05);
}

.menu-toggle span{
  width: 24px;
  height: 2px;
  background: #111827;
  border-radius: 999px;
  transition: .3s;
}

/* MENU */

.side-menu{
  position: fixed;
  top: 20px;
  right: -420px;
  width: 390px;
  height: calc(100vh - 40px);
  border-radius: 32px 0 0 32px;
  background: #ffffffe6;
  backdrop-filter: blur(18px);
  z-index: 3000;
  transition: .45s ease;
  box-shadow: -20px 0 60px rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
}

.side-menu::-webkit-scrollbar{
  width: 0;
}

.side-menu.active{
  right: 0;
}

/* HEADER MENU */

.menu-header{
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.menu-profile{
  display: flex;
  align-items: center;
  gap: 14px;
}

.profile-image{
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    #00A89E,
    #0F766E
  );

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 800;
}

.profile-info span{
  font-size: 13px;
  color: #6B7280;
}

.profile-info h3{
  font-size: 18px;
}

.profile-info p{
  font-size: 14px;
  color: #6B7280;
}

.close-menu{
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 14px;
  background: #0000000d;
  cursor: pointer;
  font-size: 18px;
  transition: .3s;
}

.close-menu:hover{
  transform: rotate(90deg);
}

/* LINKS */

.menu-links{
  flex: 1;
  padding: 24px 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-links a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  border-radius: 24px;
  text-decoration: none;
  background: #ffffffbf;
  border: 1px solid #ffffff99;
  transition: .3s;
}

.menu-links a:hover{
  transform: translateX(6px);
  background: #ffffff;
  box-shadow: 0 12px 30px #0000000f;
}

.menu-link-left{
  display: flex;
  align-items: center;
  gap: 14px;
}

.menu-icon{
  width: 54px;
  height: 54px;
  border-radius: 18px;
  background: linear-gradient(
    135deg,
    #ECFEFF,
    #D1FAE5
  );

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #00A89E;
}

.menu-text h4{
  color: #111827;
  margin-bottom: 4px;
}

.menu-text p{
  color: #6B7280;
  font-size: 13px;
}

.arrow{
  font-size: 24px;
  color: #9CA3AF;
}

/* TEMA */

.theme-area{
  padding: 24px;
  border-top: 1px solid rgba(0,0,0,.05);
}

.theme-area h4{
  margin-bottom: 16px;
}

.theme-buttons{
  display: flex;
  gap: 12px;
}

.theme-btn{
  flex: 1;
  height: 54px;
  border: none;
  border-radius: 18px;
  background: #F3F4F6;
  color:  black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

.theme-btn:hover{
  transform: translateY(-2px);
}

/* BOTÃO ATIVO PADRÃO */

.active-theme{
  background: linear-gradient(
    135deg,
    #00A89E,
    #0F766E
  );

  color: white;
}

/* CONTAINER */

.container{
  display: flex;
  gap: 25px;
  padding: 35px;
}

/* SIDEBAR */

.sidebar{
  width: 300px;
}

.box{
  background: white;
  border-radius: 28px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,.04);
}

.box h3{
  margin-bottom: 20px;
}

/* MENU CATEGORIAS */

#menu{
  list-style: none;
}

#menu li{
  padding: 14px 16px;
  border-radius: 14px;
  cursor: pointer;
  transition: .3s;
  font-weight: 600;
  margin-bottom: 10px;
}

#menu li:hover{
  background: #F3F4F6;
}

#menu li.active{
  background: #00A89E;
  color: white;
}

/* PROGRESSO */

.progresso-item{
  margin-bottom: 20px;
}

.progresso-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.barra{
  width: 100%;
  height: 10px;
  border-radius: 999px;
  background: #E5E7EB;
  overflow: hidden;
}

.barra div{
  height: 100%;
  width: 0%;
  background: linear-gradient(
    90deg,
    #00A89E,
    #0F766E
  );

  border-radius: 999px;
  transition: width .4s ease;
}

.total-area{
  margin-top: 25px;
  padding: 20px;
  border-radius: 22px;
  background: linear-gradient(
    135deg,
    #00A89E,
    #0F766E
  );

  color: white;
  text-align: center;
}

.total{
  font-size: 14px;
  opacity: .8;
}

.total-area h2{
  font-size: 40px;
}

/* CONTEÚDO */

.conteudo{
  flex: 1;
}

.conteudo-topo{
  margin-bottom: 30px;
}

.conteudo-topo h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.conteudo-topo p{
  color: #6B7280;
}

/* CARDS */

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 25px;
}

.card{
  background: white;
  border-radius: 30px;
  padding: 28px;
  position: relative;
  overflow: hidden;
  transition: .35s;
  box-shadow: 0 10px 30px #0000000a;
}

.card:hover{
  transform: translateY(-8px);
  box-shadow: 0 20px 45px #00000014;
}

.tag{
  display: inline-block;
  padding: 8px 14px;
  border-radius: 999px;
  background: #00a89e1f;
  color: #00A89E;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 18px;
}

.card h4{
  font-size: 22px;
  margin-bottom: 12px;
}

.card p{
  color: #6B7280;
  line-height: 1.7;
}

.acoes{
  margin-top: 25px;
}

/* BOTÃO */

.btn{
  width: 100%;
  border: none;
  border-radius: 18px;
  padding: 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background: linear-gradient(
    135deg,
    #00A89E,
    #0F766E
  );

  transition:.3s;
}

.btn:hover{
  transform: translateY(-3px);
}

/* FOOTER */

footer {
  background: #0F172A;
  color: white;
  padding-top: 80px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 0 8% 60px;
}

.footer-logo h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.footer-logo p {
  color: #CBD5E1;
  line-height: 1.8;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-links a {
  color: #CBD5E1;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--primary);
}

.footer-bottom {
  border-top: 1px solid #ffffff14;
  text-align: center;
  padding: 25px;
  color: #94A3B8;

}

/* DARK MODE */

body.dark-mode{
  background: #0F172A;
  color: white;
}

/* HEADER */

body.dark-mode .topbar{
  background: #111827;
  box-shadow: 0 8px 30px #00000059;
}

/* BOTÃO MENU ESCURO */

body.dark-mode .menu-toggle{
  background: #111827;
  border: 1px solid #ffffff0d;
  box-shadow: 0 10px 30px #00000073;
}

body.dark-mode .menu-toggle span{
  background: white;
}

/* BOXES E CARDS */

body.dark-mode .box,
body.dark-mode .card{
  background: #111827;
}

/* MENU */

body.dark-mode .side-menu{
  background: #111827f0;
}

body.dark-mode .menu-links a{
  background: #ffffff0a;
  border-color: #ffffff0d;
}

/* ÍCONES MENU ESCURO */

body.dark-mode .menu-icon{
  color: #00A89E;
}

/* TEXTOS */

body.dark-mode .menu-text h4,
body.dark-mode .card h4,
body.dark-mode .conteudo-topo h2,
body.dark-mode .box h3{
  color: white;
}

body.dark-mode .menu-text p,
body.dark-mode .card p,
body.dark-mode .conteudo-topo p,
body.dark-mode .subtitle,
body.dark-mode .profile-info span,
body.dark-mode .profile-info p{
  color: #94A3B8;
}

/* CATEGORIAS */

body.dark-mode #menu li:hover{
  background: #ffffff0d;
}

/* BARRA */

body.dark-mode .barra{
  background: #1E293B;
}

/* BOTÕES TEMA ESCURO */

body.dark-mode .theme-btn{
  background: #ffffff14;
  color: #E5E7EB;
}

/* BOTÃO ATIVO NO MODO ESCURO */

body.dark-mode .active-theme{
  background: white;
  color: #111827;
}

/* RESPONSIVO */

@media(max-width:950px){

  .container{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
  }

  .side-menu{
    width:100%;
    height:100vh;

    top:0;
    right:-100%;

    border-radius:0;
  }

}

@media(max-width:700px){

  .topbar{
    padding:20px;
  }

  .container{
    padding:20px;
  }

  .conteudo-topo h2{
    font-size:32px;
  }

}